/* Colours */
$color-light: #FFE4E1; /* misty rose */
$color-grey-light: #696969;
$color-grey-dark: #333;
$color-black: #000;

/* Font */
$font-heading: 'Arial', sans-serif;
$font-text: 'Times New Roman', serif;

/* Styles */
$center-element: 0 auto;

/* Mixins */
@mixin universal-styles {
    margin: 0;
	padding: 0;
    box-sizing: border-box;
}

/* Animation */
@keyframes moveInCommentFromTop {
    0% { /* start */
        opacity: 0; /* the element is invisible */
        transform: translateY(-.5rem); /* moves down across the y-axis */
    }
    
    100% { /* finish */
        opacity: 1;
        transform: translate(0); /* the way it looks right now */
    }
}

/* Grid */
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px 15px;
    grid-template-areas:
    "headline headline headline important1"
    "headline headline headline important2"
    "sport business tech nature";
}

.headline { grid-area: headline; }
.important1 { grid-area: important1; }
.important2 { grid-area: important2; }
.sport { grid-area: sport; }
.business { grid-area: business; }
.tech { grid-area: tech; }
.nature { grid-area: nature; }

 /* ---- Webpage styling ---- */
* {
    @include universal-styles;
}

body {
    max-width: 1140px;
    margin: $center-element;
    background-image: url("../img/img1.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
	font-weight: 400;
	font-size: 16px;
	line-height: 1.7;
    letter-spacing: .6px;
    padding: 30px;
    opacity: .95;
    box-shadow: 0 1rem 2rem rgba($color-black, .9);
    color: $color-light;
}

h1 {
    font-family: 'Dancing Script', cursive;
    font-size: 55px;
    letter-spacing: 3px;
    text-align: center;
    background-color: $color-grey-dark;
    padding: 10px;
    margin-bottom: 40px;
    box-shadow: 0 1rem 2rem rgba($color-black, .9);
}

 /* ---- News Section ---- */
.section-news {
    background-color: $color-grey-dark;
    color: $color-grey-dark;
    margin-bottom: 40px;
    padding: 20px;
}

.newsbox {
    background-color: $color-light;
    padding: 10px;

    &__img {
        width: 100%;
    }

    &__heading {
        font-family: $font-heading;
        font-size: 20px;

        &--main {
            font-size: 30px;
        }
    }

    &__caption {
        font-family: $font-text;
    }
}

/* ---- Form Section ---- */
.section-form {
    background-color: $color-grey-dark;
    padding: 20px;
    margin-bottom: 40px;
}

.form__heading {
    text-align: center;
    margin-bottom: 20px;
}

.form__paragraph {
    text-align: center;
    font-style: italic;
    margin-bottom: 20px;
}

/* The form */
.form {
    margin: $center-element;
    width: max-content;

    &__data {
        display: flex;
        justify-content: flex-end;
        margin-bottom: 6px;
    }

    &__label {
        margin-right: 10px;
    }

    &__input {
        padding: 5px;
        font-family: inherit;
        border-radius: 2px;
        border: none;
        font-size: 14px;
        width: 250px;
        background-color: $color-light;
        
        &:focus {
            outline: none;
        }
    }

    &__dropdown-menu {
        border: none;
        border-radius: 3px;
        width: 250px;
        background-color: $color-light; 
    }

    &__button {
        display: flex;
        justify-content: end;
    }
}

.button {
    padding: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    background-color: $color-grey-light;
    color: $color-light;
    font-family: inherit;
    font-size: 12px;
    letter-spacing: 1px;
    transition-duration: .5s;
    
    &:hover {
        background-color: $color-light;
        color: $color-grey-light;
        cursor: pointer;
    }
}

/* ---- Comment Section ---- */
.section-comments {
    padding: 20px;
    background-color: $color-grey-dark;
    box-shadow: 0 1rem 2rem rgba($color-black, .9);
}

.comments__heading {
    text-align: center;
    
}

.comment {
    border-bottom: 1px solid $color-light;
    width: 60%;
    margin: $center-element;
    
    animation: moveInCommentFromTop 1s ease-out;
}
